html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    box-sizing: border-box;
    display: block;
}

body {
    font-size: 10px;
    margin: 0;
    background-color: #fff;
    overflow-x: hidden;
}

section {
    padding-top: 3%;
    padding-bottom: 3%;
}

#home {
    background: url("../img/dusk_sky.jpg") no-repeat 50% 100%;
    background-attachment: absolute;
    -webkit-background-size: auto;
    -moz-background-size: auto;
    -o-background-size: auto;
    background-size: cover;
    width: 100%;
    display: block;
    height: 100%;
    padding-top: 20%;
    padding-bottom: 20%;
}

#about {
    background: #017876;
}

#skills {
    background: #013744;
}

#portfolio {
    background: #878a75;
}

#contact {
    background: #017876;
}

#footer {
    background: #000;
}

.navbar-brand {
    font-family: 'Faster One', cursive;
}

.home_main {
    font-family: 'Roboto Slab', serif;
    font-weight: bolder;
    font-size: 2.5rem;
}

.about_head {
    color: #fff;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
        1px 1px 0 #000;
}

.skills_head {
    color: #fff;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.portfolio_head {
    color: #fff;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.contact_head {
    color: #fff;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}


.summary {
    color: #000b16;
    border: 2px solid black;
    border-radius: 2px;
    font-family: 'Lalezar', cursive;
    font-size: 2rem;
}


.container {
    text-align: center;
    padding-right: 15px;
    padding-left: 15px;
}

.skill_type_head {
    color: darkgray;
    margin-top: 25px;
}

.skills_container {
    position: relative;
    height: 100px;
    width: 100%;
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
}

.icon-container {
    background: #000;
    height: 200px;
    width: 160px;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
}

#skills i {
    transform: scale(7);
    display: inline-block;
    position: relative;
    top: 50px;
}

.icon-text {
    color: darkgray;
    position: relative;
}

.icon-container p {
    font-size: .75rem;
    color: darkgray;
    height:5px;
}

.fa-html5 {
    color: #6e5494;
}

.fa-css3-alt {
    color: #b9573a;
}

.fa-js-square {
    color: #0077B5
}

.fa-database {
    color: goldenrod;
}

.fa-atom {
    color: #17a36f;
}

.fa-code {
    color: red;
}

.project_container {
    position: relative;
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.card {
    background: silver;
    margin-top: 15px;
}   

.card:hover {
    transform: scale(1.1);
}

.card-text {
    font-size: .75rem;
    font-weight: bold;
}

.section_head_container {
    position:relative;
    display: block;
    width: 40%;
    padding-left: 15px;
    padding-right: 15px;
}

.center {
    margin: 0 auto;
}

.text_center {
    text-align: center;
}

.text_left {
    text-align: left;
}

.portrait_container {
    position: relative;
    display: block;
    width: 150px;
    height: 150px;
    border: 2px solid black;
    border-radius: 100px;
    overflow: hidden;
    margin: 25px auto;
}

.portrait_container img {
    width: 194px;
    height: 170px;
    position: absolute;
    right: -27px;
}

.btn_container {
    display: block;
    position: relative;
    width: 265px;
    margin: 0 auto;
}

.btn:hover {
    transform: scale(1.1);
}

.color_facebook {
    background-color: #3C5A99;
    color: #fff;
}

.color_linkedin {
    background-color: #0077B5;
    color: #fff;
}
.color_github {
    background-color: #6e5494;
    color: #fff;
}

@media (max-width:499px) {
    .navbar-brand {
        font-size: 1rem;
    }
    .home_main {
        font-size: 1.2rem;
    }
    .about_head {
        font-size: 1.5rem;
    }
    .skills_head {
        font-size: 1.5rem; 
    }
    .portfolio_head {
        font-size: 1.5rem;
    }
    .contact_head {
        font-size: 1.5rem;
    }
    .summary {
        font-size: .75rem;
    }
    .skill_type_head {
        font-size: 1rem;
    }
    .icon-container {
        transform: scale(.6);
        }
    .skills_container {
        height: 75px;
        margin-top: 25px;
        }
    .project_container {
        margin: 25px;
    }
    .card {
        transform: scale(.75)
    }
    #contact H2 {
        font-size: 1.25rem;
    }
}

